shapefiles/*.cpg
shapefiles/*.dbf
shapefiles/*.prj
shapefiles/*.shp
shapefiles/*.shx
shapefiles/*.qix
shapefiles/*.sbn
shapefiles/*.sbx
shapefiles/*.shp.xml

shapefiles_iraq/*.cpg
shapefiles_iraq/*.dbf
shapefiles_iraq/*.prj
shapefiles_iraq/*.shp
shapefiles_iraq/*.shx
shapefiles_iraq/*.qix
shapefiles_iraq/*.sbn
shapefiles_iraq/*.sbx
shapefiles_iraq/*.shp.xml

shapefiles_syria/*.cpg
shapefiles_syria/*.dbf
shapefiles_syria/*.prj
shapefiles_syria/*.shp
shapefiles_syria/*.shx
shapefiles_syria/*.qix
shapefiles_syria/*.sbn
shapefiles_syria/*.sbx
shapefiles_syria/*.shp.xml

gwc/
www/
.vscode