::-ms-clear {
    display: none;
}

* {
    font-family: @font-family-base;
}

.ms2-border-layout-content,
.ms2-border-layout-body {
    flex-basis: auto !important;
}

html,
.vtp2,
#map-viewer-container,
#container,
.fill, .fill > div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.holygrail {
    & > .ms2-border-layout-body {
        position: relative;
        & > .ms2-border-layout-content {
            position: relative;
        }
    }
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ms-layer-settings .react-codemirror2,
.ms-layer-settings .react-codemirror2 > .CodeMirror  {
    height: 100px;
    z-index: 0;
}

@import "less/react-select.less";
@import "less/sidegrid.less";
@import "less/toc.less";
