::-ms-clear {
    display: none;
}

[data-ms2-container] {
    font-family: @font-family-base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-size: @font-size-base;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.428571429;
    color: @ms2-color-text;
    background-color: @ms2-color-background;
}

* {
    font-family: @font-family-base;
}

.ms2-border-layout-content,
.ms2-border-layout-body {
    flex-basis: auto !important;
}

html,
.vtp2,
#map-viewer-container,
#container,
.fill, .fill > div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.holygrail {
    & > .ms2-border-layout-body {
        position: relative;
        & > .ms2-border-layout-content {
            position: relative;
        }
    }
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: @ms2-color-shade-lighter;
}

.ms-layer-settings .react-codemirror2,
.ms-layer-settings .react-codemirror2 > .CodeMirror  {
    height: 100px;
    z-index: 0;
}

.query-filter-container {
    padding: 4px 8px;
    .filter-logic-header-text {
        display: flex;
        align-items: center;
        font-size: 11px;
        & > div:first-child {
            flex: 1;
            padding-right: 8px;
        }
    }

    .filter-field-row {
        display: flex;
        align-items: center;
        margin: 4px 0;
        input, .rw-input {
            font-size: 11px;
        }
        .rw-popup * {
            border-radius: 0;
            font-size: 11px;
        }
        .filter-field-attribute {
            flex: 1;
        }
        .filter-field-operator {
            width: 80px;
            min-width: 80px;
            margin: 0 4px;
            background-color: #f2f2f2;
            min-height: 24px;
        }
        .filter-field-value {
            flex: 1;
            background-color: #f2f2f2;
            min-height: 24px;
        }
    }

    .mapstore-conditions-group {
        padding-top: 4px;
        margin-top: 4px;
        border-top: 1px solid #ddd;
        border-left: 2px solid #ddd;
    }
    .mapstore-conditions-group {
        padding-left: 8px;
    }

    & > .mapstore-conditions-group {
        border-top: none;
        border-left: none;
        padding-left: 0;
    }
}

.mapstore-map-footer {
    display: flex;
    flex-direction: row-reverse;
}

.background-preview-button .btn-group,
.background-tool-buttons {
    display: none;
}

.background-plugin-position {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    margin-bottom: 0;
    .background-preview-button {
        .shadow-far;
    }
}
#navigationBar-container {
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 5px;
    margin-right: 5px;
    .shadow-far;
    .square-button {
        padding: 0;
    }
}
.ms-layout {
    & > .ms2-border-layout-body {
        overflow: hidden !important;
    }
}

#mapstore-navbar-container {
    position: relative;
    display: flex;
    padding: 4px;
    z-index: 20;
    .shadow-soft;
    #mapstore-burger-menu {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}
.square-button {
    padding: 0;
}

#DRAGDROP_IMPORT_ZONE {
    position: absolute !important;
}

.msSideGrid .mapstore-side-card:last-child {
    margin-bottom: 10px;
}

.ms-logo-header {
    display: flex !important;
    align-items: center;
    padding: 0 8px;
    flex: 1;
    img {
        height: @square-btn-size * 0.75;
        width: auto;
    }

    div {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid @ms2-color-shade-lighter;
        font-size: @font-size-h4;
        font-weight: bold;
    }
    & > img + img {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid @ms2-color-shade-lighter;
    }

}

#mapstore-scalebox {
    .form-group {
        margin: 0;
        label {
            display: none;
        }
    }
}

.ms-scale-line-container {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 10;
    .ol-scale-line.ol-unselectable {
        border-radius: 0;
        background-color: transparent;
        left: 0;
        top: 0;
        .ol-scale-line-inner {
            border-color: @ms2-color-text;
            color: @ms2-color-text;
        }
    }
}

@import "less/react-select.less";
@import "less/sidegrid.less";
@import "less/toc.less";
