
* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.vt-title {
    margin: 0 8px;
    border-bottom: 1px solid #ddd;
}

.vt-title p {
    font-size: 12px;
    padding-bottom: 8px;
    background-color: #333;
    color: #d2d0c9;
    padding: 8px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12);
    font-family: monospace;
}

.vt-title p b {
    font-size: 12px;
    color: #ffd479;
    font-family: monospace;
}

.vt-title p i {
    font-size: 12px;
    color: #9c9;
    font-family: monospace;
}

.vt-comment {
    margin-top: 4px;
    color: #f2f2f2;
    text-decoration: underline;
}

.vt-container {
    flex: 1;
    width: 100%;
    position: relative;
}

.vt-map-container {
    position: absolute;
    margin: 0;
    width: 33%;
    height: 50%;
    padding: 8px;
}

.vt-openlayers-mbs-map {
    top: 0;
    left: 0;
}

.vt-leaflet-mbgl-map {
    top: 0;
    left: 33%;
}

.vt-mapboxgl-map {
    top: 0;
    left: 66%;
}

.vt-openlayers-map {
    top: 50%;
    left: 0;
}

.vt-leaflet-map {
    top: 50%;
    left: 33%;
}

.vt-tangram-map {
    top: 50%;
    left: 66%;
}

.vt-map-desc {
    height: 32px;
}

.vt-map-target {
    position: relative;
    width: 100%;
    height: calc(100% - 32px);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12);
}

.leaflet-container {
    background: #ffffff !important;
}